/* src/styles/reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

button {
  border: none;
}